@import "./vars";

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: $grey;
}

.editor{
	display: flex;
	align-items: center;
	justify-content: center
}
