@import "./vars";

*{
	margin: 0;
	padding: 0;
}

.d-flex{
	display: flex;
}

body{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: $black;
}

.App{
	min-width: 1300px;
}

.editor{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: scroll;
	margin-top: 20px;
	.konvajs-content{
		border: 3px solid $white;
	}
}
