@import "./vars";

*{
	margin: 0;
	padding: 0;
}

.d-flex{
	display: flex;
}
.d-block{
	display: block;
}
.d-none{
	display: none;
}

body{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: $black;
}

.App{
	position: relative;
	min-width: 1300px;
}

.editor{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: scroll;
	margin-top: 20px;
	.konvajs-content{
		border: 3px solid $white;
	}
}
